$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #F04C23;
$secondary-accent-color: #FFD200;

body {
    background-color: $primary-color;
    overflow: hidden;
}
