$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #F04C23;
$secondary-accent-color: #FFD200;

aside {
    background-color: $secondary-primary-color;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 3.3rem;
    top: 0;
    overflow: hidden;
    z-index: 100001;
    transition: width 1s linear;
    -webkit-transform: width 1s linear;

    > section {
        min-width: 3.3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            &:first-of-type {
                flex: 1;
                display: grid;
                place-items: center;
            }
            &:nth-of-type(2) {
                display: grid;
                place-items: center;
                flex: 10;
                font-size: 2rem;
                > p {
                    margin: 0px;
                    padding: 0px;
                }
            }
            &:last-of-type {
                flex: 1;
            }
            > svg {
                transform: rotateZ(90deg);
            }
        }
    }

    .contrastMode {
        transition: all ease-out 0.25s;
        &:hover {
            transform: rotateZ(0deg);
            fill: $secondary-accent-color;
        }
    }
}

.is-active{
    min-width: 23.3rem;
}