$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #DE2F1F;
$secondary-accent-color: #0076C4;
$third-accent-color: #FFD200;

.aboutMe {
    width: 100vw;
    height: 100vh;
}