$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #DE2F1F;
$secondary-accent-color: #0076C4;
$third-accent-color: #FFD200;

.Intro {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    & > section {
        flex: 1;
        min-height: 100vh;
        &:first-of-type {
            display: grid;
            place-content: flex-end center;
            position: relative;
            min-width: 30rem;
            & > img {
                &:first-of-type {
                    position: absolute;
                    min-width: 250px;
                    min-height: 250px;
                    z-index: 0;
                    width: 25%;
                    height: 25%;
                    top: 15%;
                    left: 25%;
                }
                &:nth-of-type(2) {
                    position: absolute;
                    min-width: 250px;
                    min-height: 250px;
                    z-index: 0;
                    width: 25%;
                    height: 25%;
                    bottom: 15%;
                    right: 15%;
                }
            }
            & > div {
                margin-bottom: 40vh;
                text-align: center;
                position: relative;
                & > h1 {
                    font-size: 5rem;
                    margin: 0px;
                    color: $accent-color;
                }
                & > h2 {
                    margin: 0px;
                    color: $secondary-accent-color;
                }
            }
        }

        &:last-of-type {
            position: relative;
            // filter: drop-shadow(3px 5px 10px $contrast-color);
            & > svg {
                &:nth-of-type(1) {
                    z-index: 4;
                    position: absolute;
                    bottom: 0px;
                    right: -500px;
                    width: 200%;
                    height: 20%;
                }
                &:nth-of-type(2) {
                    z-index: 3;
                    position: absolute;
                    bottom: 0px;
                    height: 30%;
                    right: -300px;
                    width: 200%;
                }
                &:nth-of-type(3) {
                    z-index: 2;
                    position: absolute;
                    bottom: 0px;
                    height: 20%;
                    right: -400px;
                    width: 200%;
                }
                &:nth-of-type(4) {
                    z-index: 1;
                    position: absolute;
                    bottom: 0px;
                    height: 100%;
                    right: -500px;
                    width: 150%;
                    transform: scaleX(-1) ;
                }
                &:nth-of-type(5) {
                    z-index: 0;
                    position: absolute;
                    bottom: -23%;
                    height: 100%;
                    right: -300px;
                    width: 150%;
                    transform: rotateZ(-30deg);
                }
                &:last-of-type{
                    fill: $third-accent-color;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
.Intro {
    & > section {
        place-content: center;
        &:first-of-type {
            & > div {
                & > h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}
    
}

@media screen and (max-width: 600px) {
.Intro {
    & > section {
        &:first-of-type {
            & > div {
                & > h1 {
                    font-size: 3rem;
                }
            }
        }
    }
}
    
}
