$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #F04C23;
$secondary-accent-color: #FFD200;

.loader {
    display: flex;
    position: absolute;
    left: 3.3rem;
    top: 0;
    z-index: 100002;
    > div {
        flex: 1;
    }
}