$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #F04C23;
$secondary-accent-color: #FFD200;

::selection {
    background-color: transparent;
}

body {
    background-color: $primary-color;
    overflow: hidden;
}

main { 
    display: block;
    position: relative;
    > section {
        position: relative;
        left: 3.3rem;
        top: 0;
    }
}
