$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #F04C23;
$secondary-accent-color: #FFD200;

.menu {
    min-width: 20rem;
    flex: 1;
    flex-basis: 0%;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    > div {
        &:first-of-type{
            min-height: 80vh;
            display: grid;
            place-content: end center;
            padding-bottom: 4rem;
            & > div {
                display: flex;
                flex-direction: column;
                & > h1 {
                    flex: 1;
                    font-size: 2rem;
                    margin: 2rem 0rem;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 0px;
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        color: $accent-color;
                        &::before {
                            padding: 1rem 2px;
                        }
                    }

                    &::before{
                        content: "";
                        transition: all ease-out 0.1s;
                        position: absolute;
                        bottom: 0rem;
                        left: -1rem;
                        padding: 2px;
                        background-color: $accent-color;
                    }

                    &::after{
                        content: "";
                        transition: all ease-out 0.1s;
                        position: absolute;
                        bottom: -0.5rem;
                        left: -1rem;
                        padding: 2px;
                        background-color: $contrast-color;
                    }
                }
            }
        }
        &:last-of-type{
            min-height: 10vh;
            display: flex;
            text-align: center;
            > div {
                flex: 1;
                > svg {
                    border-radius: 0.5rem;       
                    cursor: pointer;
                    transition: all ease-out 0.1s;
                    &:hover {
                        fill: $accent-color;
                    }
                }
            }
        }
    }
}   


@media screen and (max-height: 500px) {
.menu {
    > div {
        &:first-of-type{
            padding-bottom: 1rem;
            place-content: center;
            & > div {
                & > h1 {
                    font-size: 2rem;
                    padding: 0.5rem 0px;
                    margin: 0px;
                }
            }
        }
    }
}

}
