$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #DE2F1F;
$secondary-accent-color: #0076C4;

aside {
    background-color: $secondary-primary-color;
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    min-width: 3.3rem;
    width: 3.3rem;
    top: 0;
    overflow: hidden;
    z-index: 100001;
    transition: all ease-out 0.5s;
    outline: none;
    > section {
        min-width: 3.3rem;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > div {
            cursor: pointer;
            &:first-of-type {
                flex: 1;
                display: grid;
                place-items: center;
            }
            &:nth-of-type(2) {
                display: grid;
                place-items: center;
                flex: 10;
                font-size: 2rem;
                transition: all ease-in 0.1s;

                > p {
                    margin: 0px;
                    padding: 0px;
                    font-weight: 700;
                }
                &:hover {
                    color: $accent-color;
                }
            }
            &:last-of-type {
                flex: 1;
            }
            > svg {
                transform: rotateZ(90deg);
                transition: all ease-in-out 0.1s;
                &:hover {
                    fill: $accent-color;
                }
            }
        }
    }

    .contrastMode {
        transition: all ease-out 0.1s;
        &:hover {
            transform: rotateZ(0deg);
        }
    }
}

.is-active{
    min-width: 23.3rem;
}

.close {
    left: 100vw;
    top: 0vh;
}

.open {
    left: 23.3rem;
    top: 0rem;
}

.rightSide{
    transition: all ease-out 0.5s;
    position: absolute;
    width: calc(100vw - 20rem);
    background-color: $accent-color;
    height: 200vh;
}