$primary-color: #f2f1f1;
$secondary-primary-color: #E2DEDE;
$contrast-color: #000;
$accent-color: #DE2F1F;
$secondary-accent-color: #0076C4;
$third-accent-color: #FFD200;

.activeButton {
    background-color: $contrast-color !important;
    color: $primary-color !important;
}

.updates {
    width: calc(100vw - 3.3rem);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    & > section {
        position: relative;
        height: 100vh;
        &:first-of-type {
            flex: 1;
            display: flex;
            min-width: 30rem;
            align-items: center !important;
            & > div {
                position: relative;
                margin-left: 3vw;
                & > img {
                    position: absolute;
                    height: Max(15vw, 10rem);
                    width: Max(15vw, 10rem);
                    left: -5vw;
                    top: -3vw;
                }
                & > h1 {
                    margin-left: 1vw;
                    letter-spacing: -5px;
                    margin: 0px;
                    font-size: 4rem;
                }
                & > h2 {
                    font-size: 1.8rem;
                    margin: 0px;
                    margin-left: 3vw;
                    position: relative;
                    overflow-y: hidden;
                    color: $secondary-accent-color;
                    &::after {
                        content: "";
                        position: absolute;
                        padding: 2px 50px;
                        background-color: $accent-color;
                        bottom: 0px;
                        left: -15px;
                    }
                }
            }
        }
        &:last-of-type{
            margin-left: 5rem;
            flex: 3;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & > div {
                color: $secondary-accent-color;
                font-size: 2rem;
                & > div{

                    // Updates
                    &:first-of-type {

                    }

                    // Selectors
                    &:last-of-type {
                        & > button{
                            background-color: $primary-color;
                            color: $contrast-color;
                            border: solid 1px $contrast-color;
                            font-size: 1rem;
                            cursor: pointer;
                            &:hover {
                                background-color: $contrast-color;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.updateWrapper {
    position: relative;
    display: flex;
    width: calc(200vw - 3.3rem);
}

.updateRight {
    width: calc(100vw - 3.3rem);
    height: 100vh;
    background-color: #0076C4;
    // margin-left: calc((100vw - 3.3rem) * -1);

    z-index: 4;
}

@media screen and (max-width: 900px) {
    
}